@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkish: linear-gradient(20deg, #000000, #01050e, #000000, #010308);
  --blueish: linear-gradient(20deg, #bbbbbbc4, #768fac, #67b4d8, #181d2a);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrapper {
  min-height: 100vh;
  padding-bottom: 100px;
}

.back {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
}
img {
  max-width: 250px;
  border-radius: 10%;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.home {
  background-image: var(--darkish);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.794);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-section {
  animation: fadeIn 7s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  background-color: black;
}
